@import './fonts.scss';
@import './variables.scss';

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Inter", "Open Sans", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

input::-moz-placeholder {
  transition: all .3s;
}

input::-webkit-input-placeholder {
  transition: all .3s;
}

.h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: var(--neutral-white-smoke-color);
  margin: 0;
  padding: 0;
  transition: color 0.3s;
}

svg {
  transition: all .3s;
}

path {
  transition: all .3s;
}

button, input, select {
  font-family: "Inter", "Open Sans", sans-serif;
}

#app {
  height: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background: var(--neutral-dark-gray-background-color);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-blue-color);
  border-radius: 30px;
}