:root {
  --neutral-00-color: #FFFFFF;
  --neutral-01-color: #FCFCFC;
  --neutral-02-color: #F4F4F4;
  --neutral-03-color: #EFEFEF;
  --neutral-04-color: #6F767E;
  --neutral-05-color: #33383F;
  --neutral-06-color: #272B30;
  --neutral-07-color: #1A1D1F;
  --neutral-08-color: #111315;

  --neutral-shade-04-75-color: #9A9FA5;
  --neutral-shade-04-50-color: #6F767E;
  --neutral-shade-dark-07-50-color: rgba(17, 19, 21, 0.5);
  --neutral-shade-dark-04-40-color: rgba(111, 118, 126, 0.4);;

  --primary-blue-color: #2A85FF;
  --primary-blue-50-color: rgba(42, 133, 255, 0.5);
  --primary-green-color: #83BF6E;
  --primary-orange-color: #FF6A55;
  --primary-purple-color: #8E59FF;

  --secondary-orange-color: #FFBC99;
  --secondary-purple-color: #CABDFF;
  --secondary-blue-color: #B1E5FC;
  --secondary-green-color: #B5E4CA;
  --secondary-yellow-color: #FFD88D;
}